body{
  margin: 0;
  padding: 0;
}
.content {
  /*margin: 20px;*/
  font-family: Arial, Helvetica, sans-serif;
}
.left-bar {
  width: 256px;
  height: calc(100vh - 2px);
  margin: 0;
  background: #dec3de;
  border: 1px solid magenta;
  /*border-bottom: 2px;*/
  float: left;
}
.menu-item{
  width: content-box;
  margin: 15px;
  padding: 5px;
  /*alignment: center;*/
  /*align-content: center;*/
  text-align: center;
  text-transform: uppercase;

  border: 1px solid green;
  border-radius: 50px;
  background: greenyellow;
}
/*.main-content{*/
/*  position: relative;*/
/*}*/
h2{
  color: darkmagenta;
  text-align: center;
  text-transform: uppercase;
}
.logo{
  padding: 3px;
}
.menu-item.pressed{
  background-color: limegreen;
}
div.main-content{
  padding: 10px 10px 10px 270px;
}

p{
  margin:20px;
  padding: 15px;
  background-color: silver;
}
.profile-tile{
  width: 150px;
  height: 200px;
  border: 1px solid silver;
  float: left;
  background-color: greenyellow;
  margin: 20px;
  text-align: center;
}
.clear{
  clear: both;
}
.profile-tile img{
  width: 150px;
  height: 150px;
}
.contacts-wrap{
  height: 150px;
  width: calc(100% - 310px);
  /*padding: 10px;*/
  /*margin: 10px;*/
  position: absolute;
  bottom: 0;
  border-top: 1px solid silver;
}
.contacts{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid silver;
  width: content-box;
}
.contacts span{
  color: darkmagenta;
  font-weight: bold;
}
